In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
# Mean
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
# Frequency
df['sepal.length'].value_counts().head()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
Name: sepal.length, dtype: int64

In [17]:
df['petal.length'].value_counts().head()

1.4    13
1.5    13
5.1     8
4.5     8
1.6     7
Name: petal.length, dtype: int64

In [11]:
# Median
df.median(numeric_only=True)

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [18]:
# Mode
df.mode()

   sepal.length  sepal.width  petal.length  petal.width     variety
0           5.0          3.0           1.4          0.2      Setosa
1           NaN          NaN           1.5          NaN  Versicolor
2           NaN          NaN           NaN          NaN   Virginica

In [20]:
# Variance
df.var(numeric_only=True)

sepal.length    0.685694
sepal.width     0.189979
petal.length    3.116278
petal.width     0.581006
dtype: float64

In [22]:
# Skewness
df.skew(numeric_only=True)

sepal.length    0.314911
sepal.width     0.318966
petal.length   -0.274884
petal.width    -0.102967
dtype: float64

In [25]:
# Kurtosis
df.kurt(numeric_only=True)

sepal.length   -0.552064
sepal.width     0.228249
petal.length   -1.402103
petal.width    -1.340604
dtype: float64